{{### Macro to include content from another GitBook ###}}

{% macro inc(path, branch) %}
{### Turn path from page into file and folder strings ###}
Path is: {{ path }}
{% set path = path.split("/") %}
Path is: {{ path }}
{% set file = path[path.length-1].slice(0,-4) + "md" %}
File is: {{ file }}
{% set folder = path[path.length-2] %}
Folder is: {{ folder }}
{% set git_path = "git+https://github.com/safesoftware/FMETraining.git/" + folder + "/" + file + "#" + branch %}
Git path is: {{ git_path }}

{% include git_path }
