{# Define a macro for importing existing manual content #}
{# folderpath is a string with manual page's folder one level up in directory and then filename.md #}
{# e.g. DesktopBasic1Basics/1.Exercise1.md #}
{% macro inc(folder, file) %}
{% include "git+" + book.path + folder + file %}

{# Append proper image tags with correct path #}
{% replace "./"}
[replace image tags, "./" with book.path + folderpath + "/"] {#should keep only parts needed #}
[folderpath content before /]
{% if path == "" %}
{% replace }

{# on page, image(file.path) to send raw path #}
