{# Define a macro for importing existing manual content #}
{# folderpath is a string with manual page's folder one level up in directory and then filename.md #}
{# e.g. DesktopBasic1Basics/1.Exercise1.md #}
{% macro inc(path) %}
{% set path = "['" + path + "']" %}
{% path | replace("/","','") %}
{% set folder = path[path.length - 1] %}
{% set file = path [path.length - 2] %}
{% import "git+" + book.path + folder + file as content %} {# import md from manual page #}
{% content | replace("![](./", "![](." + book.path + folderpath + "/") %} {# replace md image paths with less relative path #}
{% endmacro %}

{# consider list also #}
